# Dependency directories
node_modules
.pnp
.pnp.js

# Testing
coverage

# Next.js build output
.next/

# Misc
.DS_Store
*.pem

# Environment files (สำคัญมาก ห้ามหลุดไปใน Image)
.env
.env*.local

# Version Control
.git
.gitignore

# Prisma
# อย่าใส่ prisma ลงในนี้ เพราะเราต้อง Copy ไปใช้ตอน build
# prisma